html {
	font-family: Arial, Helvetica, sans-serif;
}

.TourMap {
	position: absolute;
	top: 0;
	left: 0;
	/* Account for enthraler footer */
	bottom: 18px;
	right: 0;
	display: flex;
	flex-direction: column;
}

.MapContainer {
	min-height: 300px;
	flex: 1;
}

.ShowList {
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	background: #3E4543;
}

	.ShowList__scrollContainer {
		display: flex;
		flex-direction: row;
	}

	.ShowList__padding {
		flex: 0 0 calc(50vw - 150px);
	}

	.ShowList ul {
		display: flex;
		list-style: none;
		flex-direction: row;
		margin: 0;
		padding: 0;
	}

	.ShowList__Show {
		flex: 1;
	}

	.ShowList__Show button {
		min-width: 300px;
		max-width: 95vw;
		height: 120px;
		appearance: none;
		background: #3E4543;
		border: 1px solid #383E3C;
		box-shadow: none;
		color: white;
	}

	.ShowList__Show button:hover {
		background: #515856;
	}

	.ShowList__Show__active button {
		background: #515856;
	}

	.Show__Container {
		display: flex;
		flex-direction: row;
	}

	.Date {
		width: 25%;
		font: sans-serif;
		text-align: center;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		color: #1F2322;
	}

		.Date__day {
			margin-bottom: auto;
		}
		.Date__date {
			font-size: 30px;
			font-weight: 900;
		}
		.Date__month {
			display: block;
		}
		.Date__year {
			margin-top: auto;
			display: block;
		}

	.Show__Details {
		flex: 1;
		display: flex;
		flex-direction: column;
		text-align: left;
	}

		.Show__City {
			font-size: 26px;
			margin-top: auto;
		}

		.Show__Byline {
			opacity: 0.5;
			font-style: italic;
			margin-bottom: auto;
		}