html {
	font-family: Arial, Helvetica, sans-serif;
}

.TourMap {
	position: absolute;
	top: 0;
	left: 0;
	/* Account for enthraler footer */
	bottom: 18px;
	right: 0;
	display: flex;
	flex-direction: column;
}

.MapContainer {
	min-height: 300px;
	flex: 1;
}

.ShowList {
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	background: #E0E0E0;
}

	.ShowList__scrollContainer {
		display: flex;
		flex-direction: row;
	}

	.ShowList__padding {
		flex: 0 0 calc(50vw - 150px);
	}

	.ShowList ul {
		display: flex;
		list-style: none;
		flex-direction: row;
		margin: 0;
		padding: 0;
	}

	.ShowList__Show {
		flex: 1;
	}

	.ShowList__Show button {
		min-width: 300px;
		max-width: 95vw;
		height: 120px;
		appearance: none;
		background: #ffffff;
		border: 1px solid #fbc9ce;
		box-shadow: none;
		color: #3E4543;
		padding: 0;
	}

	.ShowList__Show button:hover {
		background: #F9F9F9;
	}

	.ShowList__Show__active button {
		background: #F9F9F9;
	}

	.Show__Container {
		display: flex;
		flex-direction: row;
		position: relative;
		height: 95px;
		padding-top: 10px;
		padding-bottom: 15px;
	}

		.Show__Container::before {
			position: absolute;
			bottom: 11px;
			left: 0;
			right: 0;
			height: 2px;
			background: #fbc9ce;
			content: " ";
		}

			.ShowList__Show:first-of-type .Show__Container::before {
				left: 44px;
			}

			.ShowList__Show:last-of-type .Show__Container::before {
				width: 44px;
				right: auto;
			}

		.Show__Container::after {
			position: absolute;
			bottom: 5px;
			left: 44px;
			height: 14px;
			width: 14px;
			border-radius: 7px;
			background: #fbc9ce;
			content: " ";
		}

			.ShowList__Show__active .Show__Container::after {
				background: #A83541;
			}

	.Date {
		width: 25%;
		font: sans-serif;
		text-align: center;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		color: #1F2322;
		background: #ffffff;
		border: #FBC9CE 1px solid;
		border-radius: 12px;
		overflow: hidden;
		margin: 0 15px 15px 15px;
	}

		.Date__day {
			margin-bottom: auto;
			padding-top: 2px;
			background: #FBC9CE;
			font-size: 14px;
			line-height: 20px;
		}

			.ShowList__Show__active .Date__day {
				background: #A83541;
				color: #ffffff;
			}

		.Date__date {
			font-size: 30px;
			font-weight: 900;
			padding-top: 3px;
		}
		.Date__month {
			display: block;
			padding-bottom: 2px;
		}
		.Date__year {
			margin-top: auto;
			display: block;
			display: none;
		}

	.Show__Details {
		flex: 1;
		display: flex;
		flex-direction: column;
		text-align: left;
	}

		.Show__City {
			font-size: 26px;
			margin-top: auto;
		}

		.Show__Byline {
			opacity: 0.5;
			font-style: italic;
			margin-bottom: auto;
			color: #646464;
		}